.container#content {
  margin-top: 60px;
}
body {
  background-color: $white;
}
a {
  color: $dark-blue;
  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}
body {
  font-family: $site-font;
  color: $darkest-blue;
}
h1, h2, h3, h4, h5, h6  {
  color: $darkest-blue;
  margin-bottom: 20px;
  text-align: center;
}
hr {
  background-color: $lightest-blue;
}
.navbar,
.dropdown-menu-right {
  background-image: linear-gradient(to bottom,  $dark-blue, $darkest-blue);
  border-bottom: 1px solid $darkest-blue;
  line-height: 1;
  .dropdown-item {
    &:hover {
      color: $lightest-blue;
      background-image: linear-gradient(to bottom,  $light-blue, $dark-blue);
    }
  }
  /*.nav-link {
    &:hover {
      color: $lightest-blue;
      background-image: linear-gradient(to bottom,  $light-blue, $dark-blue);
    }
  }*/
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: $light-blue;
  &:hover {
    color: $lightest-blue;
  }
}
ul {
  list-style: none;
  padding: 0;
}
