a {
  color: $dark-blue;
  font-family: $site-font-semi-bold;
  &:hover {
    color: $light-blue;
    text-decoration: none;
  }
}
span {
  font-family: $site-font-semi-bold-it;
}
body {
  font-family: $site-font;
  color: $darkest-blue;
  background-color: $white;
}
h1 {
  color: $darkest-blue;
  margin-bottom: 45px;
  text-align: center;
  font-family: $site-font-bold;
}
h2,
h3,
h4,
h5,
h6 {
  margin: {
    top: 5px;
  }
  color: $darkest-blue;
  font-family: $site-font-bold;
}
hr {
  background-color: $lightest-blue;
}
.navbar,
.dropdown-menu-right {
  background-image: linear-gradient(to top, $dark-blue, $darkest-blue);
  line-height: 1;
  .dropdown-item {
    &:hover {
      background-image: linear-gradient(to bottom, $light-blue, $dark-blue);
    }
  }
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: $light-blue;
  &:hover {
    color: $lightest-blue;
  }
}
ul {
  list-style: none;
  padding: 0;
}

.badge {
  font-family: $site-font;
  color: $lightest-blue;
  background-color: $dark-blue;
  &:hover {
    font-family: $site-font-bold;
    color: $dark-blue;
    background-color: $lightest-blue;
  }
}
.forum {
  height: 1785px;
  border: none;
}
