.card {
  margin-bottom: 30px;
  background-color: $white;
  h2,
  h3 {
    padding-left: 20px;
  }
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
.bullet-list {
  list-style-type: circle;
  padding-left: 25px;
}
.card-header {
  margin-bottom: 30px;
  background-image: linear-gradient(to bottom right, $white, $lightest-blue);
  border-bottom-color: $lightest-blue;
  .card-title {
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $dark-blue;
      padding-left: 0;
    }
  }
}

.card-bmr-colors {
  background-image: linear-gradient(to top right, $dark-blue, $darkest-blue);
  color: $white;

  .btn-bmr {
    color: $lightest-blue;
    background-color: $darkest-blue;
    border-color: $darkest-blue;
    &:hover {
      color: $darkest-blue;
      background-color: $lightest-blue;
      border-color: $darkest-blue;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $lightest-blue;
  }

  a {
    color: $light-blue;
    font-family: $site-font;
    &:hover {
      color: $lightest-blue;
      text-decoration: none;
    }
  }
}
