@font-face {
  font-family: 'titilliumLight';
  src: url(../assets//fonts/titilliumWeb-light.ttf) format('truetype');
}
@font-face {
  font-family: 'titilliumBold';
  src: url(../assets/fonts/titilliumWeb-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'titilliumSemiBold';
  src: url(../assets/fonts/TitilliumWeb-SemiBold.ttf) format('truetype');
}
@font-face {
  font-family: 'titilliumSemiBoldItalic';
  src: url(../assets/fonts/TitilliumWeb-SemiBoldItalic.ttf) format('truetype');
}