footer {
  .footer-gradient {
    background-image: linear-gradient(to bottom, $dark-blue, $darkest-blue);;
    margin-top: 20px;
    text-align: center;
    color: $light-blue;
    padding: {
      top: 35px;
      bottom: 25px;
    };
  }
}
