header {
  margin-bottom: 35px;

  .navbar,
  .dropdown-menu {
    background-image: linear-gradient(to top, $dark-blue, $darkest-blue);
    line-height: 1;
    .dropdown-item {
      &:hover {
        background-image: linear-gradient(to bottom, $light-blue, $dark-blue);
      }
    }
  }

  .navbar-light .navbar-nav .nav-link,
  .navbar-light .navbar-brand {
    color: $light-blue;
    &:hover {
      color: $lightest-blue;
    }
  }

  .background-img {
    margin-top: 45px;
  }

  .logo {
    margin-top: 50px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }
  .sub-title-line {
    color: $white;
    margin-bottom: 0;
    font-size: 65px;
  }

  @media only screen and (max-width: 1200px) {
    .sub-title-line {
      font-size: xx-large;
    }
    .logo {
      margin-top: 30px;
    }
  }

  @media only screen and (max-width: 765px) {
    .sub-title-line {
      font-size: large;
    }
    .logo {
      margin-top: 35px;
    }
  }
}
