.partner-background {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: $lightest-blue;
  padding: 20px 20px 20px 10px;
  border-radius: 5px;
  position: relative;
  background-image: linear-gradient(to top left, $light-blue, $white);
  z-index: 1;
}

.partner-background::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 5px;
  background-image: linear-gradient(to top right, $light-blue, $white);
  z-index: -1;
  color: $lightest-blue;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.partner-background:hover::before {
  background-image: linear-gradient(to top right, $light-blue, $white);
  color: $lightest-blue;
  opacity: 1;
}

