underConstruction {
  display: flex;
  padding: 2%;
  align-content: space-around;
  flex-direction: row;

  img {
    margin: 10px;
    max-width: 45%;
    width: auto;
    border-radius: 50px;
  }

  .construction-text {
    font-family: TitilliumBold, sans-serif;
    font-size: xx-large;
    text-align: start;
    align-self: center;
    margin: 10px;

  }
}
