//fonts
$site-font: 'titilliumLight', sans-serif;
$site-font-bold: 'titilliumBold', sans-serif;
$site-font-semi-bold: 'titilliumSemiBold', sans-serif;
$site-font-semi-bold-it: 'titilliumSemiBoldItalic', sans-serif;

//color pallet
$lightest-blue: #d9faff;
$light-blue: #00bbf0;
$dark-blue: #005792;
$darkest-blue: #00204a;
$white: #f6f6f6;

//bootstrap
$primary: $dark-blue;
$light: $lightest-blue;
