//font paths
$font-file-path:'../assets/fonts/TitilliumWeb-Light.ttf';
$font-file-bold-path:'../assets/fonts/TitilliumWeb-Bold.ttf';
$font-file-semi-bold-path:'../assets/fonts/TitilliumWeb-SemiBold.ttf';
$font-file-semi-bold-it-path:'../assets/fonts/TitilliumWeb-SemiBoldItalic.ttf';

//fonts
$site-font: 'TitilliumLight', sans-serif;
$site-font-bold: 'TitilliumBold', sans-serif;
$site-font-semi-bold: 'TitilliumSemiBold', sans-serif;
$site-font-semi-bold-it: 'TitilliumSemiBoldItalic', sans-serif;

//color pallet
$lightest-blue: #d9faff;
$light-blue: #00bbf0;
$dark-blue: #005792;
$darkest-blue: #00204a;
$white: #f6f6f6;

//bootstrap
$primary: $dark-blue;
$light: $lightest-blue;
