@import "./src/styles/variables";

pilot {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;

  img {
    max-width: 250px;
    max-height: 250px;
    border-radius: 5px;
    margin: 10px;
  }

  h4 {
    color: $lightest-blue;
  }

  a {
    color: $light-blue;
    &:hover {
      color: $lightest-blue;
    }
  }

  .pilot-background {
    display: inline-block;
    width: 750px;
    word-break: keep-all;
    margin-right: 10px;
    background-image: linear-gradient(to top left, $darkest-blue, $dark-blue);
    color: $lightest-blue;
    padding: 10px 20px 20px;
    border-radius: 5px;
  }

  .text-expand-down {
    overflow: hidden;
    transition: all 2s ease;
    animation: text-slide-down 0.5s ease;
  }

  .text-expand-up {
    overflow: hidden;
    animation: text-slide-up 0.125s ease;
  }

  .text-fade-out {
    overflow: hidden;
    animation: fade-out 1s ease;
  }

  .text-fade-in {
    overflow: hidden;
    animation: fade-in 1s ease;
    padding-top: 10px;
    padding-left: 20px;
  }

  @keyframes text-slide-down {
    from {
      height: 75px;
    }
    to {
      height: 480px;
    }
  }

  @keyframes text-slide-up {
    from {
      height: 480px;
    }
    to {
      height: 75px;
    }
  }

  @keyframes fade-out {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
  }

  @keyframes colour-fade-out {
    from {
      opacity: 100;
    }
    to {
      opacity: 0;
    }
  }

  @keyframes colour-fade-in {
    from {
      background-color: $darkest-blue;
      color: $light-blue;
    }
    to {
      background-color: $light-blue;
      color: $lightest-blue;
    }
  }
}
